<div class="ui two column doubling stackable grid">
    <div class="eleven wide column">
        <div class="ui raised segment">
            <h2 class="ui header">
                {{ ctrl.model.id != undefined ? 'modelEdit' : 'modelNew' | translate }}
                <div class="sub header">{{ ::(ctrl.model.id != undefined ? ctrl.model.name : '' | capitalize) }}</div>
            </h2>

            <div ui-popup="{inline: true}"
                 data-content="{{ 'app' | translate }}" data-position="left center"
                 class="ui absolute floated right ribbon blue label">{{ ctrl.myapp.name | capitalize }}
            </div>

            <div ui-message ng-show="form.$submitted && form.$error.required && form.$error.required.length"
                 class="ui error message">
                <div class="header">
                    {{ 'checkBelowInconsistencies' | translate }}
                </div>
                <ul class="list">
                    <li ng-repeat="field in form.$error.required"
                        ng-bind-html="message[field.$name].required ? (message[field.$name].required | translate) : ('fieldEmptyRequiredError' | translate:{name: field.$name})"></li>
                </ul>
            </div>

            <form ng-init="message = {}" ng-submit="form.$valid && ctrl.save($event);" name="form" novalidate>

                <div ui-tab class="ui top attached tabular menu margin top">
                    <a class="item active" data-tab="first">{{ 'model' | translate }}</a>
                    <a class="item" data-tab="second">{{ 'fields' | translate }}</a>
                </div>

                <div class="ui bottom attached tab segment basic active" data-tab="first">
                    <div class="ui container stackable grid form">

                        <div ng-init="model = ctrl.model; message[field.name] = field.message"
                             class="row middle aligned" ng-repeat="field in ctrl.fields.model"
                             ng-include="'isabase-app/' + field.type + '.tpl.html'">
                        </div>

                    </div>
                </div>

                <div class="ui bottom attached tab segment basic spaced-none spaced-top" data-tab="second">

                    <a ng-click="ctrl.newField()" class="ui tiny blue button">
                        <i class="add circle icon"></i>
                        {{ 'new' | translate }}
                    </a>

                    <a ng-click="ctrl.selected && ctrl.editField(ctrl.selected)" ng-class="{blue: ctrl.selected}"
                       class="ui tiny button">
                        <i class="edit icon"></i>
                        {{ 'edit' | translate }}
                    </a>

                    <button ng-click="ctrl.selected && ctrl.removeField()" ng-class="{blue: ctrl.selected}"
                            class="ui tiny button">
                        <i class="trash icon"></i>
                        {{ 'remove' | translate }}
                    </button>

                    <table class="ui very basic table striped selectable">
                        <thead>
                        <tr>
                            <th>{{ 'name' | translate }}</th>
                            <th>{{ 'type' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="link" ng-class="{selected: ctrl.selected == field}" ng-click="ctrl.select(field)"
                            ng-repeat="field in ctrl.model.fields">
                            <td>{{ field.name }}</td>
                            <td>{{ field.type | translate }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="ui container stackable grid form margin top half">
                    <div class="row">
                        <div class="wide column center aligned">
                            <button type="submit" class="ui labeled button icon" ng-class="{ green: form.$valid }">
                                <i class="save icon"></i>
                                {{ 'saveChanges' | translate }}
                            </button>
                            <a ng-click="ctrl.clear()" class="ui labeled button">
                                {{ 'clear' | translate }}
                            </a>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <div class="five wide column">
        <div class="ui raised segment">
            <h3 class="ui header">
                <i ng-if="ctrl.model.id != undefined" ui-popup="{inline: true}"
                   data-content="{{ 'remove' | translate:{name: ('model' | translate) } | capitalize }}"
                   data-position="left center"  ng-click="ctrl.remove()"
                   class="small right aligned trash icon link"></i>
                {{ 'manage' | translate }}

                <div class="sub header">
                    <p>{{ 'modelSelectedMessage' | translate }}</p>
                </div>
            </h3>
            
            <span class="ui container center aligned actions">
                <a ui-sref="admin.app.model" class="ui fluid action labeled blue button icon">
                    <i class="list icon"></i>
                    {{ 'modelList' | translate }}
                </a>

                <a ui-sref="admin.app.model.record({ modelName: ctrl.model.name })" ng-if="ctrl.model.id != undefined"
                   class="ui fluid action labeled blue button icon">
                    <i class="cubes icon"></i>
                    {{ 'recordList' | translate }}
                </a>

            </span>
        </div>
    </div>

</div>