<div class="ui two column doubling stackable grid">
    <div class="sixteen wide column">
        <div class="ui raised segment" isa-loader="ctrl.app">
            <h2 class="ui header" isa-loader-visible>
                {{ ctrl.app.$$new ? 'appNew' : ctrl.app.name | translate }}
                <div class="sub header" isa-loader-invisible><ncy-breadcrumb></ncy-breadcrumb></div>
            </h2>

            <isa-messages form="form" fields="ctrl.fields"></isa-messages>

            <form name="form" class="ui container stackable grid form margin top"
                  ng-submit="form.$valid && ctrl.save($event);" novalidate isa-loader-invisible="{save: false}">

                <div class="row middle aligned"
                     ng-init="model = ctrl.app;"
                     ng-repeat="field in ctrl.fields"
                     ng-include="'isabase-app/' + field.type + '.tpl.html'">
                </div>

                <div class="row middle aligned" ng-if="!ctrl.app.$$new">
                    <div class="four wide column right aligned field label"></div>

                    <div class="wide column field ten">
                        <a ng-click="ctrl.remove()" class="ui action red button">
                            {{ 'appRemove' | translate }}
                        </a>
                    </div>

                </div>

                <div class="row form footer">
                    <div class="fourteen wide right floated column form footer">
                        <a ng-click="navigation.back()" class="ui button">
                            {{ 'cancel' | translate }}
                        </a>
                        <button type="submit" class="ui right floated button" ng-class="{ green: form.$valid }">
                            {{ 'saveChanges' | translate }}
                        </button>
                        <a class="ui labeled right floated button" ng-click="ctrl.clear()">
                            {{ 'clear' | translate }}
                        </a>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <!--<div class="five wide column" ng-include="'isabase-app/app-edit.sidebar.tpl.html'"></div>-->
</div>