<div class="ui two column doubling stackable grid">
    <div class="eleven wide column">
        <div class="ui raised segment">
            <h2 class="ui header">
                {{ 'myapp' | translate }}
                <div class="sub header">{{ ctrl.myapps.length }} {{ 'apps' | translate }}</div>
            </h2>

            <table class="ui very basic table striped selectable">
                <thead>
                <tr>
                    <th>{{ 'name' | translate }}</th>
                    <th>{{ 'description' | translate }}</th>
                    <th>{{ 'models' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr class="link" ng-init="ctrl.init(app)" ng-class="{selected: ctrl.selected == app}" ng-click="ctrl.select(app)"
                    ng-repeat="app in ctrl.myapps">
                    <td>{{ app.name }}</td>
                    <td>{{ app.description }}</td>
                    <td>{{ app.models }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="five wide column">
        <div class="ui raised segment">
            <h3 class="ui header">
                <i ng-if="ctrl.selected" ng-click="ctrl.removeSelected()" class="small right aligned trash icon link"></i>
                {{ 'manage' | translate }}
                
                <div class="sub header" ng-switch="ctrl.selected == null">
                    <p ng-switch-when="true">{{ 'select-app-message' | translate }}</p>
                    <p ng-switch-default>{{ 'selected-app-message' | translate }}</p>
                </div>
            </h3>
            
            <span class="ui container center aligned actions">
                <div ng-if="ctrl.selected">
                    <a ui-sref="app.myapp.edit({ appName: ctrl.selected.name })" class="ui fluid action labeled blue button icon">
                        <i class="edit icon"></i>
                        {{ 'app-edit' | translate }}
                    </a>
                    
                    <a ui-sref="app.myapp.models({ appName: ctrl.selected.name })" class="ui fluid action labeled blue button icon">
                        <i class="cubes icon"></i>
                        {{ 'view-models' | translate }}
                    </a>
                    
                    <div class="ui horizontal divider">
                        {{ 'or' | translate }}
                    </div>
                </div>
                
                <a ui-sref="app.myapp.edit({ appName: 'new' })" class="ui fluid action labeled blue button icon">
                    <i class="add circle icon"></i>
                    {{ 'app-new' | translate }}
                </a>
            </span>
        </div>
    </div>
</div>