<div class="ui two column doubling stackable grid">
    <div class="eleven wide column">
        <div class="ui raised segment">
            <h2 class="ui header">
                {{ 'myapps' | translate }}
                <div class="sub header">{{ myAppCtrl.myapps.length }} {{ 'apps' | translate }}</div>
            </h2>

            <table class="ui very basic table striped selectable">
                <thead>
                <tr>
                    <th>{{ 'name' | translate }}</th>
                    <th>{{ 'description' | translate }}</th>
                    <th>{{ 'models' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-class="{selected: myAppCtrl.selected == app}" ng-click="myAppCtrl.selected = app" ng-repeat="app in myAppCtrl.myapps">
                    <td>{{ app.name }}</td>
                    <td>{{ app.description }}</td>
                    <td>{{ app.models }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="five wide column">
        <div class="ui raised segment">
            <h3 class="ui header">
                {{ 'manage' | translate }} <span class="text gray">{{ myAppCtrl.selected.name }}</span>
                <div class="sub header">
                    <p ng-if="myAppCtrl.selected == null">{{ 'select-app-message' | translate }}</p>
                    <p ng-if="myAppCtrl.selected != null">{{ 'selected-app-message' | translate }}</p>
                </div>
            </h3>
            <span class="ui container center aligned">
                <button class="ui labeled icon button fluid blue">
                    <i class="add circle icon"></i>
                    {{ 'new-app' | translate }}
                </button>
                <br>
                <button class="ui labeled icon button fluid blue">
                    <i class="edit icon"></i>
                    {{ 'edit-app' | translate }}
                </button>
                <br>
                <button class="ui labeled icon button fluid blue">
                    <i class="cubes icon"></i>
                    {{ 'manage-models' | translate }}
                </button>
            </span>
        </div>
    </div>
</div>