<div class="ui two column doubling stackable grid">
    <div class="eleven wide column">
        <div class="ui raised segment" isa-loader="ctrl.myapps">
            <h2 class="ui header" isa-loader-visible>
                {{ 'appsHeader' | translate }}
                <div class="sub header" isa-loader-bind="'loading' | translate">{{ 'appsSubheader' | translate: {appSize: ctrl.myapps.length} | capitalize }}</div>
            </h2>

            <table class="ui very basic table striped selectable" isa-loader-invisible>
                <thead>
                <tr>
                    <th>{{ 'name' | translate }}</th>
                    <th>{{ 'description' | translate }}</th>
                    <th>{{ 'models' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr class="link" ng-init="ctrl.init(app)" ng-class="{selected: ctrl.selected == app}"
                    ng-click="ctrl.select(app)"
                    ng-repeat="app in ctrl.myapps">
                    <td>{{ app.name }}</td>
                    <td>{{ app.description }}</td>
                    <td>{{ app.modelsSize }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="five wide column" ng-include="'isabase-app/apps.sidebar.tpl.html'"></div>
</div>