<div class="ui two column doubling stackable grid">
    <div class="eleven wide column">
        <div class="ui raised segment">
            <h2 class="ui header">
                {{ ctrl.model.id != undefined ? 'edit-model' : 'new-model' | translate }}
                <div class="sub header">{{ ::(ctrl.model.id != undefined ? ctrl.model.name : '' | capitalize) }}</div>
            </h2>

            <a class="ui absolute floated right ribbon blue label">{{ ctrl.myapp.name | capitalize }}</a>

            <div ui-tab class="ui top attached tabular menu margin top">
                <a class="item active" data-tab="first">{{ 'model' | translate }}</a>
                <a class="item" data-tab="second">{{ 'fields' | translate }}</a>
            </div>

            <div class="ui bottom attached tab segment basic active" data-tab="first">
                <div class="ui container stackable grid form">
                    <div class="row middle aligned">
                        <div class="five wide column right aligned field label required">
                            <label>{{ 'name' | translate }}</label>
                        </div>

                        <div class="eleven wide column">
                            <div class="ui fluid input">
                                <input type="text" ng-model="ctrl.model.name" placeholder="{{ 'name' | translate }}">
                            </div>
                        </div>

                    </div>

                    <div class="row middle aligned">
                        <div class="five wide column right aligned field label">
                            <label>{{ 'description' | translate }}</label>
                        </div>

                        <div class="eleven wide column">
                            <div class="ui fluid input">
                                <input type="text" ng-model="ctrl.model.description"
                                       placeholder="{{ 'description' | translate }}">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="ui bottom attached tab segment basic spaced-none spaced-top" data-tab="second">

                <a ng-click="ctrl.newField()" class="ui tiny blue button">
                    <i class="add circle icon"></i>
                    {{ 'new' | translate }}
                </a>

                <a ng-click="ctrl.selected && ctrl.editField(ctrl.selected)" ng-class="{blue: ctrl.selected}"
                   class="ui tiny button">
                    <i class="edit icon"></i>
                    {{ 'edit' | translate }}
                </a>

                <button ng-click="ctrl.selected && ctrl.remove()" ng-class="{blue: ctrl.selected}"
                        class="ui tiny button">
                    <i class="trash icon"></i>
                    {{ 'remove' | translate }}
                </button>

                <table class="ui very basic table striped selectable">
                    <thead>
                    <tr>
                        <th>{{ 'name' | translate }}</th>
                        <th>{{ 'type' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="link" ng-class="{selected: ctrl.selected == field}" ng-click="ctrl.select(field)"
                        ng-repeat="field in ctrl.model.fields">
                        <td>{{ field.name }}</td>
                        <td>{{ field.type | translate }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="ui container stackable grid form margin top half">
                <div class="row">
                    <div class="wide column center aligned">
                        <a ng-click="ctrl.save()" class="ui labeled button icon">
                            <i class="save icon"></i>
                            {{ 'save-changes' | translate }}
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="five wide column">
        <div class="ui raised segment">
            <h3 class="ui header">
                <i ng-if="ctrl.model.id != undefined" ng-click="ctrl.remove()" class="small right aligned trash icon link"></i>
                {{ 'manage' | translate }}

                <div class="sub header">
                    <p>{{ 'selected-model-message' | translate }}</p>
                </div>
            </h3>
            
            <span class="ui container center aligned actions">
                <a ui-sref="app.myapp.models" class="ui fluid action labeled blue button icon">
                    <i class="list icon"></i>
                    {{ 'view-models' | translate }}
                </a>

                <a ui-sref="app.myapp.models.records({ modelId: ctrl.model.id })" class="ui fluid action labeled blue button icon">
                    <i class="cubes icon"></i>
                    {{ 'view-records' | translate }}
                </a>

            </span>
        </div>
    </div>

</div>