<div class="ui two column doubling stackable grid">
    <div class="eleven wide column">
        <div class="ui raised segment">
            <h2 class="ui header">
                {{ 'edit-app' | translate }}
            </h2>

            <div class="ui container stackable grid form margin top">
                <div class="row middle aligned">
                    <div class="five wide column right aligned field label">
                        <label>{{ 'name' | translate }}</label>    
                    </div>
                    
                    <div class="eleven wide column">
                        <div class="ui fluid input">
                            <input type="text" ng-model="editCtrl.myapp.name" placeholder="{{ 'name' | translate }}">
                        </div>
                    </div>
                </div>
                
                <div class="row middle aligned">
                    <div class="five wide column right aligned field label">
                        <label>{{ 'description' | translate }}</label>    
                    </div>
                    
                    <div class="eleven wide column">
                        <div class="ui fluid input">
                            <input type="text" ng-model="editCtrl.myapp.description" placeholder="{{ 'description' | translate }}">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="eleven wide right floated column">
                        <a ng-click="editCtrl.save()" class="ui labeled button icon">
                            <i class="save icon"></i>
                            {{ 'save-changes' | translate }}
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="five wide column">
        <div class="ui raised segment">
            <h3 class="ui header">
                <i ng-click="editCtrl.remove()" class="small right aligned trash icon link"></i>
                {{ 'manage' | translate }} <span class="text gray">{{ editCtrl.myapp.name }}</span>
                
                <div class="sub header">
                    <p>{{ 'selected-app-message' | translate }}</p>
                </div>
            </h3>
            
            <span class="ui container center aligned actions">
                
                <a class="ui fluid action labeled blue button icon">
                    <i class="cubes icon"></i>
                    {{ 'models' | translate }}
                </a>
                
                <a ng-click="back()" class="ui fluid action labeled blue button icon">
                    <i class="list icon"></i>
                    {{ 'myapps' | translate }}
                </a>
                
                <div class="ui horizontal divider">
                    {{ 'or' | translate }}
                </div>
                
                <a ui-sref="app.myapp.edit({ id: 'new' })" class="ui fluid action labeled blue button icon">
                    <i class="add circle icon"></i>
                    {{ 'create-new' | translate }}
                </a>
            </span>
        </div>
    </div>
</div>