<div class="ui raised segment" isa-loader="changePasswordCtrl.loader">
    <h2 class="ui header">
        {{ 'changePassword' | translate }}
    </h2>

    <isa-messages form="changePasswordCtrl.form" fields="[{name: 'currentPassword'}, {name: 'newPassword'}]">
        <li ng-message="wrong">{{ changePasswordCtrl.error | translate }}</li>
    </isa-messages>

    <form name="changePasswordCtrl.form" class="ui container stackable grid form margin top"
          ng-submit="changePasswordCtrl.form.$valid && changePasswordCtrl.save($event);" novalidate isa-loader-invisible="{save: false}">

        <div class="row middle aligned">
            <div class="four wide column right aligned field label required" ng-class="{error: changePasswordCtrl.form.currentPassword.$invalid && (changePasswordCtrl.form.currentPassword.$touched || changePasswordCtrl.form.$submitted)}">
                <label class="no break line">{{ 'currentPassword' | translate }}</label>
            </div>

            <div class="wide column field ten" ng-class="{error: changePasswordCtrl.form.currentPassword.$invalid && (changePasswordCtrl.form.currentPassword.$touched || changePasswordCtrl.form.$submitted)}">
                <div class="ui fluid input">
                    <input type="password" name="currentPassword" ng-model="changePasswordCtrl.model.currentPassword"
                           placeholder="{{ 'currentPassword' | translate }}" ng-required>
                </div>
            </div>

        </div>

        <div class="row middle aligned">
            <div class="four wide column right aligned field label required" ng-class="{error: changePasswordCtrl.form.newPassword.$invalid && (changePasswordCtrl.form.newPassword.$touched || changePasswordCtrl.form.$submitted)}">
                <label class="no break line">{{ 'newPassword' | translate }}</label>
            </div>

            <div class="wide column field ten" ng-class="{error: changePasswordCtrl.form.newPassword.$invalid && (changePasswordCtrl.form.newPassword.$touched || changePasswordCtrl.form.$submitted)}">
                <div class="ui fluid input">
                    <input type="password" name="newPassword" ng-model="changePasswordCtrl.model.newPassword"
                           placeholder="{{ 'newPassword' | translate }}" ng-required>
                </div>
            </div>

        </div>

        <div class="row form footer">
            <div class="fourteen wide right floated column form footer">
                <button type="submit" class="ui right floated button" ng-class="{ green: changePasswordCtrl.form.$valid }">
                    {{ 'saveChanges' | translate }}
                </button>
            </div>
        </div>

    </form>

</div>