<div class="ui raised segment">
    <h3 class="ui header">
        <i ng-if="ctrl.selected" ui-popup="{inline: true}"
           data-content="{{ 'remove' | translate:{name: ('record' | translate) } | capitalize }}"
           data-position="left center" ng-click="ctrl.removeSelected()"
           class="small right aligned link icon-trash"></i>
        {{ 'manage' | translate }}

        <div class="sub header" ng-switch="ctrl.selected == null">
            <p ng-switch-when="true">{{ 'recordSelectMessage' | translate }}</p>
            <p ng-switch-default>{{ 'recordSelectedMessage' | translate }}</p>
        </div>
    </h3>

    <span class="ui container center aligned actions">
        <div ng-if="ctrl.selected">
            <a ui-sref="admin.apps.models.records.edit({ recordId: ctrl.selected.id })"
               class="ui fluid action labeled blue button icon">
                <i class="icon icon-pencil"></i>
                {{ 'edit' | translate }}
            </a>

            <div class="ui horizontal divider">
                {{ 'or' | translate }}
            </div>
        </div>

        <a ui-sref="admin.apps.models.records.edit({ recordId: 'new' })"
           class="ui fluid action labeled blue button icon">
            <i class="icon icon-plus"></i>
            {{ 'recordNew' | translate }}
        </a>

        <a ui-sref="admin.apps.models" class="ui fluid action labeled blue button icon">
            <i class="icon icon-layers"></i>
            {{ 'modelList' | translate }}
        </a>

        <a ui-sref="admin.apps" class="ui fluid action labeled blue button icon">
            <i class="icon icon-folder"></i>
            {{ 'appList' | translate }}
        </a>

    </span>
</div>