<div class="ui two column doubling stackable grid">
    <div class="eleven wide column">
        <div class="ui raised segment">
            <h2 class="ui header">
                {{ ctrl.myapp.id != undefined ? 'appEdit' : 'appNew' | translate }}
                <div class="sub header">{{ ::(ctrl.myapp.id != undefined ? ctrl.myapp.name : '' | capitalize) }}</div>
            </h2>

            <div ui-message ng-show="form.$submitted && form.$error.required && form.$error.required.length"
                 class="ui error message">
                <div class="header">
                    {{ 'checkBelowInconsistencies' | translate }}
                </div>
                <ul class="list">
                    <li ng-repeat="field in form.$error.required"
                        ng-bind-html="message[field.$name].required ? (message[field.$name].required | translate) : ('fieldEmptyRequiredMessage' | translate:{name: field.$name})"></li>
                </ul>
            </div>

            <form ng-init="message = {}" ng-submit="form.$valid && ctrl.save($event);" name="form"
                  class="ui container stackable grid form margin top" novalidate>
                <div ng-init="model = ctrl.myapp; message[field.name] = field.message" class="row middle aligned"
                     ng-repeat="field in ctrl.fields"
                     ng-include="'isabase-app/' + field.type + '.tpl.html'">
                </div>

                <div class="row">
                    <div class="twelve wide right floated column">
                        <button type="submit" class="ui labeled button icon" ng-class="{ green: form.$valid }">
                            <i class="save icon"></i>
                            {{ 'saveChanges' | translate }}
                        </button>
                        <a ng-click="ctrl.clear()" class="ui labeled button">
                            {{ 'clear' | translate }}
                        </a>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <div class="five wide column" ng-include="'isabase-app/app-edit.sidebar.tpl.html'"></div>
</div>