<div class="ui raised segment">
    <h3 class="ui header">
        <i class="small right aligned trash icon link"
           ui-popup="{inline: true}"
           data-content="{{ 'remove' | translate:{name: ('app' | translate) } | capitalize }}"
           data-position="left center" ng-click="ctrl.remove()"
           ng-if="!ctrl.app.$new"></i>
        {{ 'manage' | translate }}

        <div class="sub header">
            <p>{{ 'appSelectedMessage' | translate }}</p>
        </div>
    </h3>

    <span class="ui container center aligned actions">
        <a ui-sref="admin.apps" class="ui fluid action labeled blue button icon">
            <i class="list icon"></i>
            {{ 'appList' | translate }}
        </a>
    </span>

</div>