<div class="ui two column doubling stackable grid">
    <div class="eleven wide column">
        <div class="ui raised segment" isa-loader="ctrl.app">
            <h2 class="ui header" isa-loader-visible>
                {{ ctrl.app.$$new ? 'appNew' : 'appEdit' | translate }}
                <div class="sub header" isa-loader-bind="'loading' | translate">{{ ::(ctrl.app.$$new ? ''  : ctrl.app.name | capitalize) }}</div>
            </h2>

            <isa-messages form="form" fields="ctrl.fields"></isa-messages>

            <form name="form" class="ui container stackable grid form margin top"
                  ng-submit="form.$valid && ctrl.save($event);" novalidate isa-loader-invisible="{save: false}">

                <div class="row middle aligned"
                     ng-init="model = ctrl.app;"
                     ng-repeat="field in ctrl.fields"
                     ng-include="'isabase-app/' + field.type + '.tpl.html'">
                </div>

                <div class="row">
                    <div class="fourteen wide right floated column">
                        <button type="submit" class="ui labeled button icon" ng-class="{ green: form.$valid }">
                            <i class="save icon"></i>
                            {{ 'saveChanges' | translate }}
                        </button>
                        <a ng-click="navigation.back()" class="ui button">
                            {{ 'cancel' | translate }}
                        </a>
                        <a class="ui labeled button" ng-click="ctrl.clear()">
                            {{ 'clear' | translate }}
                        </a>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <div class="five wide column" ng-include="'isabase-app/app-edit.sidebar.tpl.html'"></div>
</div>