<div class="ui two column doubling stackable grid">
    <div class="eleven wide column">
        <div class="ui raised segment" isa-loader="ctrl.records">
            <h2 class="ui header" isa-loader-visible>
                {{ 'recordsHeader' | translate }}
                <div class="sub header" isa-loader-bind="'loading' | translate">{{ 'recordsSubheader' | translate:{ modelName: ctrl.model.name, recordSize: ctrl.records.length } | capitalize }}</div>
            </h2>
            <div ui-popup="{inline: true}"
                 data-content="{{ 'model' | translate }}" data-position="left center"
                 class="ui absolute floated right ribbon blue label" isa-loader-invisible>{{ ctrl.model.name | capitalize }}
            </div>

            <table class="ui very basic table striped selectable" isa-loader-invisible>
                <thead>
                <tr>
                    <th>{{ 'id' | translate }}</th>
                    <th ng-repeat="field in ctrl.model.fields">
                        {{ field.name | capitalize }}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="link" ng-init="ctrl.init(record)" ng-class="{selected: ctrl.selected == record}"
                    ng-click="ctrl.select(record)" ng-dblclick="ctrl.open(record)"
                    ng-repeat="record in ctrl.records">
                    <td>{{ record.id }}</td>
                    <td ng-repeat="field in ctrl.model.fields" ng-switch="field.type">
                        <span ng-switch-when="boolean">{{ record[field.name] | translate }}</span>
                        <span ng-switch-when="model">{{ field.displayField && ctrl.getModelFieldValue(record[field.name], field) || record[field.name] | translate }}</span>
                        <span ng-switch-when="date">{{ record[field.name] | uiCalendar }}</span>
                        <span ng-switch-default>{{ record[field.name] }}</span>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="five wide column" ng-include="'isabase-app/records.sidebar.tpl.html'"></div>
</div>