<div class="ui two column doubling stackable grid">
    <div class="sixteen wide column">
        <div class="ui raised segment" isa-loader="ctrl.records">
            <h2 class="ui header" isa-loader-visible>
                {{ 'recordsHeader' | translate }}
            </h2>

            <div class="ui three stackable cards" ng-if="ctrl.myapp && ctrl.model">
                <div class="card limit height" ng-repeat="record in ctrl.records">
                    <div class="content">
                        <a ui-sref="admin.records.edit({ appName: ctrl.myapp.name, modelName: ctrl.model.name, recordId: record.id })">
                            <i class="right floated setting icon"></i>
                        </a>
                        <div class="header">
                            {{ ctrl.model.name }}
                        </div>
                        <div class="description">
                            {{ record | json }}</p>
                        </div>
                    </div>
                </div>

                <div ui-sref="admin.records.edit({ appName: ctrl.myapp.name, modelName: ctrl.model.name, recordId: 'new' })" class="card limit height">
                    <div class="content center">
                        <div class="description link">
                            <i class="add circle icon big"></i>
                            <p>{{ 'recordNew' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="button group absolute top right">
                <div ui-dropdown="{selectBy: 'name'}" ng-model="ctrl.myapp"
                     class="ui floating dropdown button">
                    <span class="text">{{ ctrl.myapp && ctrl.myapp.name || 'Selecione um Aplicativo' }}</span>
                    <div class="menu">
                        <div class="item" ng-click="ctrl.selectApp(app)" ng-repeat="app in ctrl.apps">{{ app.name }}
                        </div>
                    </div>
                </div>

                <div ui-dropdown="{selectBy: 'name'}" ng-model="ctrl.model"
                     class="ui floating dropdown button">
                    <span class="text">{{ ctrl.model && ctrl.model.name || 'Selecione um Modelo' }}</span>
                    <div class="menu">
                        <div class="item" ng-click="ctrl.selectModel(ctrl.myapp.name, model)"
                             ng-repeat="model in ctrl.models">{{ model.name }}
                        </div>
                    </div>
                </div>
            </div>

            <!--<table class="ui very basic table striped selectable" isa-loader-invisible="{remove: false}">
                <thead>
                <tr>
                    <th>{{ 'id' | translate }}</th>
                    <th ng-repeat="field in ctrl.model.fields">
                        {{ field.name | capitalize }}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="link" ng-init="ctrl.init(record)" ng-class="{selected: ctrl.selected == record}"
                    ng-click="ctrl.select(record)" ng-dblclick="ctrl.open(record)"
                    ng-repeat="record in ctrl.records">
                    <td>{{ record.id }}</td>
                    <td ng-repeat="field in ctrl.model.fields" ng-switch="field.type">
                        <span ng-switch-when="boolean">{{ record[field.name] | translate }}</span>
                        <span ng-switch-when="model">{{ field.displayField && ctrl.getModelFieldValue(record[field.name], field) || record[field.name] | translate }}</span>
                        <span ng-switch-when="date">{{ record[field.name] | uiCalendar }}</span>
                        <span ng-switch-default>{{ record[field.name] }}</span>
                    </td>
                </tr>
                </tbody>
            </table>-->

        </div>
    </div>

</div>