<div class="ui two column doubling stackable grid">
    <div class="eleven wide column">
        <div class="ui raised segment">
            <h2 class="ui header">
                {{ 'models' | translate }}
                <div class="sub header">{{ modelCtrl.models.length }} {{ 'models' | translate }}</div>
            </h2>

            <table class="ui very basic table striped selectable">
                <thead>
                <tr>
                    <th>{{ 'name' | translate }}</th>
                    <th>{{ 'description' | translate }}</th>
                    <th>{{ 'records' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr class="link" ng-init="modelCtrl.init(model)" ng-class="{selected: modelCtrl.selected == model}" ng-click="modelCtrl.select(model)"
                    ng-repeat="model in modelCtrl.models">
                    <td>{{ model.name }}</td>
                    <td>{{ model.description }}</td>
                    <td>{{ model.records }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="five wide column">
        <div class="ui raised segment">
            <h3 class="ui header">
                <i ng-if="modelCtrl.selected" ng-click="modelCtrl.removeSelected()" class="small right aligned trash icon link"></i>
                {{ 'manage' | translate }}

                <div class="sub header" ng-switch="modelCtrl.selected == null">
                    <p ng-switch-when="true">{{ 'select-model-message' | translate }}</p>
                    <p ng-switch-default>{{ 'selected-model-message' | translate }}</p>
                </div>
            </h3>
            
            <span class="ui container center aligned actions">
                <div ng-if="modelCtrl.selected">
                    <a ui-sref="app.myapp.models.edit({ id: modelCtrl.selected.id })" class="ui fluid action labeled blue button icon">
                        <i class="edit icon"></i>
                        {{ 'edit' | translate }}
                    </a>

                    <a class="ui fluid action labeled blue button icon">
                        <i class="cubes icon"></i>
                        {{ 'records' | translate }}
                    </a>

                    <div class="ui horizontal divider">
                        {{ 'or' | translate }}
                    </div>
                </div>

                <a ui-sref="app.myapp.models.edit({ id: 'new' })" class="ui fluid action labeled blue button icon">
                    <i class="add circle icon"></i>
                    {{ 'create-new' | translate }}
                </a>

                <a ui-sref="app.myapp({ selected: stateParams.appId })" class="ui fluid action labeled blue button icon">
                    <i class="list icon"></i>
                    {{ 'myapps' | translate }}
                </a>

            </span>
        </div>
    </div>
</div>