<div class="ui two column doubling stackable grid">
    <div class="sixteen wide column">
        <div class="ui raised segment" isa-loader="ctrl.record">
            <h2 class="ui header" isa-loader-visible>
                {{ ::ctrl.model.name }}
                <div class="sub header" isa-loader-invisible>
                    <ncy-breadcrumb></ncy-breadcrumb>
                </div>
            </h2>

            <p isa-loader-invisible>
                <small>Id: {{ ::(ctrl.record.$$new ? 'recordNew' : ctrl.record.id | translate) }}</small>
            </p>

            <isa-messages form="form" fields="ctrl.model.fields"></isa-messages>

            <form name="form" class="ui container stackable grid form margin top"
                  ng-submit="form.$valid && ctrl.save($event);" novalidate isa-loader-invisible="{save: false}">

                <div ng-controller="RecordFieldCtrl as fieldCtrl" ng-include="'isabase-app/' + field.type + '.tpl.html'"
                     ng-repeat="field in ctrl.model.fields" class="row middle aligned">
                </div>

                <div class="row middle aligned" ng-if="!ctrl.record.$$new">
                    <div class="four wide column right aligned field label"></div>

                    <div class="wide column field ten">
                        <a ng-click="ctrl.remove()" class="ui action red button">
                            {{ 'recordRemove' | translate }}
                        </a>
                    </div>

                </div>

                <div class="row form footer">
                    <div class="fourteen wide right floated column form footer">
                        <a ng-click="navigation.back()" class="ui button">
                            {{ 'cancel' | translate }}
                        </a>
                        <button type="submit" class="ui right floated button" ng-class="{ green: form.$valid }">
                            {{ 'saveChanges' | translate }}
                        </button>
                        <a class="ui labeled right floated button" ng-click="ctrl.clear()">
                            {{ 'clear' | translate }}
                        </a>
                    </div>
                </div>

            </form>

        </div>
    </div>

</div>