<div class="ui two column doubling stackable grid">
    <div class="eleven wide column">
        <div class="ui raised segment" isa-loader="ctrl.models">
            <h2 class="ui header" isa-loader-visible>
                {{ 'modelsHeader' | translate }}
                <div class="sub header" isa-loader-bind="'loading' | translate">{{ 'modelsSubheader' | translate:
                    {appName: ctrl.myapp.name, modelSize: ctrl.models.length } | capitalize }}
                </div>
            </h2>

            <div isa-loader-invisible ui-popup="{inline: true}"
                 data-content="{{ 'app' | translate }}" data-position="left center"
                 class="ui absolute floated right ribbon blue label">{{ ctrl.myapp.name | capitalize }}
            </div>

            <table class="ui very basic table striped selectable" isa-loader-invisible>
                <thead>
                <tr>
                    <th>{{ 'name' | translate }}</th>
                    <th>{{ 'description' | translate }}</th>
                    <th>{{ 'records' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr class="link" ng-init="ctrl.init(model)" ng-class="{selected: ctrl.selected == model}"
                    ng-click="ctrl.select(model)"
                    ng-repeat="model in ctrl.models">
                    <td>{{ model.name }}</td>
                    <td>{{ model.description }}</td>
                    <td>{{ model.records }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="five wide column" ng-include="'isabase-app/models.sidebar.tpl.html'"></div>
</div>