<div class="ui raised segment">
    <h3 class="ui header">
        <i ng-if="ctrl.selected" ui-popup="{inline: true}"
           data-content="{{ 'remove' | translate:{name: ('model' | translate) } | capitalize }}"
           data-position="left center" ng-click="ctrl.removeSelected()"
           class="small right aligned trash icon-trash link"></i>
        {{ 'manage' | translate }}

        <div class="sub header" ng-switch="ctrl.selected == null">
            <p ng-switch-when="true">{{ 'modelSelectMessage' | translate }}</p>
            <p ng-switch-default>{{ 'modelSelectedMessage' | translate }}</p>
        </div>
    </h3>

    <span class="ui container center aligned actions">
        <div ng-if="ctrl.selected">
            <a ui-sref="admin.apps.models.edit({ modelName: ctrl.selected.name })"
               class="ui fluid action labeled blue button icon">
                <i class="icon icon-pencil"></i>
                {{ 'modelEdit' | translate }}
            </a>

            <a ui-sref="admin.apps.models.records({ modelName: ctrl.selected.name })"
               class="ui fluid action labeled blue button icon">
                <i class="icon icon-book-open"></i>
                {{ 'recordList' | translate }}
            </a>

            <div class="ui horizontal divider">
                {{ 'or' | translate }}
            </div>
        </div>

        <a ui-sref="admin.apps.models.edit({ modelName: 'new' })"
           class="ui fluid action labeled blue button icon">
            <i class="icon icon-plus"></i>
            {{ 'modelNew' | translate }}
        </a>

        <a ui-sref="admin.apps" class="ui fluid action labeled blue button icon">
            <i class="icon icon-folder"></i>
            {{ 'appList' | translate }}
        </a>

    </span>
</div>