<div class="ui raised segment">
    <h3 class="ui header">
        <i ng-if="!ctrl.model.$new" ui-popup="{inline: true}"
           data-content="{{ 'remove' | translate:{name: ('model' | translate) } | capitalize }}"
           data-position="left center" ng-click="ctrl.remove()"
           class="small right aligned link icon-trash"></i>
        {{ 'manage' | translate }}

        <div class="sub header">
            <p>{{ 'modelSelectedMessage' | translate }}</p>
        </div>
    </h3>

    <span class="ui container center aligned actions">
        <a ui-sref="admin.models" class="ui fluid action labeled blue button icon">
            <i class="icon icon-layers"></i>
            {{ 'modelList' | translate }}
        </a>

    </span>
</div>