<div class="ui modal">
    <div class="header">
        {{ ::fieldCtrl.isNew ? 'fieldNew' : 'fieldEdit' | translate }}
    </div>
    <div class="content">
        
        <isa-messages form="form" fields="[{name: 'name'}, {name: 'target'}, {name: 'displayField'}]">
            <li ng-message="fieldSameNameMessage">{{ 'fieldSameNameMessage' | translate }}</li>
        </isa-messages>
        
        <form class="ui container stackable grid form" name="form" ng-submit="form.$valid && ctrl.save($event);" novalidate>

            <div class="row middle aligned"
                 ng-init="model = fieldCtrl.field; small = true"
                 ng-repeat="field in fieldCtrl.fields.field"
                 ng-include="'isabase-app/' + field.type + '.tpl.html'">
            </div>
            
            <div class="ui top attached tabular menu margin top">
                <a ng-click="fieldCtrl.field.type = type.name" ng-repeat="type in fieldCtrl.types" class="item"
                   ng-class="{ active: fieldCtrl.field.type == type.name}"
                   data-tab="{{ type.name }}">{{ type.name | translate }}</a>
            </div>

            <div ng-repeat="type in fieldCtrl.types" class="ui bottom attached tab segment basic"
                 ng-class="{ active: fieldCtrl.field.type == type.name}" data-tab="{{ type.name }}">

                <div class="ui container stackable grid form">
                    <div ng-init="data = fieldCtrl.models; model = fieldCtrl.field; small = true"
                         ng-include="'isabase-app/' + field.type + '.tpl.html'" ng-switch="field.type"
                         ng-repeat="field in type.fields" class="row middle aligned">
                    </div>
                </div>

            </div>

        </form>
    </div>
    <div class="actions">
        <div class="ui cancel button">{{ 'cancel' | translate }}</div>
        <div ng-click="fieldCtrl.save($event)" class="ui ok button" ng-class="{ green: form.$valid }">{{ 'save' | translate }}</div>
    </div>
</div>