<div class="ui two column doubling stackable grid">
    <div class="sixteen wide column">
        <div class="ui raised segment" isa-loader="ctrl.model" style="padding-bottom: 15px">
            <h2 class="ui header" isa-loader-visible>
                {{ ::(ctrl.model.$$new ? 'modelNew' : ctrl.model.name | translate) }}
                <div class="sub header" isa-loader-invisible>
                    <ncy-breadcrumb></ncy-breadcrumb>
                </div>
            </h2>

            <isa-messages form="form" fields="ctrl.fields.model"></isa-messages>

            <form name="form" class="ui container stackable grid form margin top spaced none left right"
                  ng-submit="form.$valid && ctrl.save($event);" novalidate isa-loader-invisible="{save: false}">

                <div ui-tab class="ui top attached tabular menu">
                    <a class="item active" data-tab="first">{{ 'model' | translate }}</a>
                    <a class="item" data-tab="second">{{ 'fields' | translate }}</a>
                </div>

                <div class="ui bottom attached tab segment basic active" data-tab="first">
                    <div class="ui container stackable grid form">

                        <div class="row middle aligned"
                             ng-init="model = ctrl.model;"
                             ng-repeat="field in ctrl.fields.model"
                             ng-include="'isabase-app/' + field.type + '.tpl.html'">
                        </div>

                        <div class="row middle aligned" ng-if="!ctrl.model.$$new">
                            <div class="four wide column right aligned field label"></div>

                            <div class="wide column field ten">
                                <a ng-click="ctrl.remove()" class="ui action red button">
                                    {{ 'modelRemove' | translate }}
                                </a>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="ui bottom attached tab segment basic spaced-none spaced-top spaced-bottom" data-tab="second">

                    <a class="ui tiny blue button" ng-click="ctrl.newField()">
                        <i class="icon icon-plus"></i>
                        {{ 'new' | translate }}
                    </a>

                    <a ng-click="ctrl.selected && ctrl.editField(ctrl.selected)" ng-class="{blue: ctrl.selected}"
                       class="ui tiny button">
                        <i class="icon icon-pencil"></i>
                        {{ 'edit' | translate }}
                    </a>

                    <a ng-click="ctrl.selected && ctrl.removeField()" ng-class="{blue: ctrl.selected}"
                       class="ui tiny button">
                        <i class="icon icon-trash"></i>
                        {{ 'remove' | translate }}
                    </a>

                    <table class="ui very basic table striped selectable">
                        <thead>
                        <tr>
                            <th>{{ 'name' | translate }}</th>
                            <th>{{ 'type' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="link" ng-class="{selected: ctrl.selected == field}" ng-click="ctrl.select(field)"
                            ng-repeat="field in ctrl.model.fields">
                            <td>{{ field.name }}</td>
                            <td>{{ field.type | translate }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row form footer">
                    <div class="fourteen wide right floated column form footer" style="margin-left: 0 !important; margin-right: 0 !important">
                        <a ng-click="navigation.back()" class="ui button">
                            {{ 'cancel' | translate }}
                        </a>
                        <button type="submit" class="ui right floated button" ng-class="{ green: form.$valid }">
                            {{ 'saveChanges' | translate }}
                        </button>
                    </div>
                </div>

            </form>

            <div ui-popup="{inline: true}"
                 data-content="{{ 'app' | translate }}"
                 data-position="left center"
                 isa-loader-invisible="{save: false, remove: false}"
                 class="ui floating dropdown button absolute top right isa-loader-above">
                <span class="text">{{ ctrl.app.name | capitalize }}</span>
            </div>

        </div>
    </div>

</div>