<div class="ui two column doubling stackable grid">
    <div class="eleven wide column">
        <div class="ui raised segment" isa-loader="ctrl.model">
            <h2 class="ui header" isa-loader-visible>
                {{ ctrl.model.$$new ? 'modelNew' : 'modelEdit' | translate }}
                <div class="sub header" isa-loader-bind="'loading' | translate">{{ ::(ctrl.model.$new ? '' :
                    ctrl.model.name | capitalize) }}
                </div>
            </h2>

            <div ui-popup="{inline: true}"
                 data-content="{{ 'app' | translate }}"
                 data-position="left center"
                 isa-loader-invisible="{save: false, remove: false}"
                 class="ui floating dropdown button absolute top right isa-loader-above">
                <span class="text">{{ ctrl.app.name | capitalize }}</span>
            </div>

            <isa-messages form="form" fields="ctrl.fields.model"></isa-messages>

            <form name="form" ng-submit="form.$valid && ctrl.save($event);" novalidate isa-loader-invisible="{save: false}">

                <div ui-tab class="ui top attached tabular menu margin top">
                    <a class="item active" data-tab="first">{{ 'model' | translate }}</a>
                    <a class="item" data-tab="second">{{ 'fields' | translate }}</a>
                </div>

                <div class="ui bottom attached tab segment basic active" data-tab="first">
                    <div class="ui container stackable grid form">

                        <div class="row middle aligned"
                             ng-init="model = ctrl.model;"
                             ng-repeat="field in ctrl.fields.model"
                             ng-include="'isabase-app/' + field.type + '.tpl.html'">
                        </div>

                    </div>
                </div>

                <div class="ui bottom attached tab segment basic spaced-none spaced-top" data-tab="second">

                    <a class="ui tiny blue button" ng-click="ctrl.newField()">
                        <i class="icon icon-plus"></i>
                        {{ 'new' | translate }}
                    </a>

                    <a ng-click="ctrl.selected && ctrl.editField(ctrl.selected)" ng-class="{blue: ctrl.selected}"
                       class="ui tiny button">
                        <i class="icon icon-pencil"></i>
                        {{ 'edit' | translate }}
                    </a>

                    <a ng-click="ctrl.selected && ctrl.removeField()" ng-class="{blue: ctrl.selected}"
                       class="ui tiny button">
                        <i class="icon icon-trash"></i>
                        {{ 'remove' | translate }}
                    </a>

                    <table class="ui very basic table striped selectable">
                        <thead>
                        <tr>
                            <th>{{ 'name' | translate }}</th>
                            <th>{{ 'type' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="link" ng-class="{selected: ctrl.selected == field}" ng-click="ctrl.select(field)"
                            ng-repeat="field in ctrl.model.fields">
                            <td>{{ field.name }}</td>
                            <td>{{ field.type | translate }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="ui container stackable grid form margin top half">
                    <div class="row">
                        <div class="sixteen wide column center aligned">
                            <button type="submit" class="ui labeled button icon" ng-class="{ green: form.$valid }">
                                <i class="icon icon-check"></i>
                                {{ 'saveChanges' | translate }}
                            </button>
                            <a ng-click="navigation.back()" class="ui button">
                                {{ 'cancel' | translate }}
                            </a>
                            <a ng-click="ctrl.clear()" class="ui labeled button">
                                {{ 'clear' | translate }}
                            </a>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <div class="five wide column" ng-include="'isabase-app/model-edit.sidebar.tpl.html'"></div>

</div>