<div class="login state">
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <div class="ui raised segment login-holder">
                <h2 class="center aligned header login-head">{{ 'loginHeader' | translate }}</h2>

                <form class="ui form" name="form" ng-submit="form.$valid && loginCtrl.login(username, password, $event)" novalidate>
                    <div class="field" ng-class="{error: form.username.$invalid && (form.username.$touched || form.$submitted)}">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="username" ng-change="form.username.$setValidity('wrong', true)" placeholder="{{ 'username' | translate }}" ng-model="username" required>
                        </div>
                    </div>
                    <div class="field" ng-class="{error: form.password.$invalid && (form.password.$touched || form.$submitted)}">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" ng-change="form.password.$setValidity('wrong', true)" placeholder="{{ 'password' | translate }}" ng-model="password" required>
                        </div>
                    </div>
                    <div class="inline field">
                        <div class="ui checkbox">
                            <input type="checkbox">
                            <label>{{ 'loginRememberMe' | translate }}</label>
                        </div>
                    </div>

                    <button type="submit" class="ui fluid large blue submit button">{{ 'loginSubmit' | translate }}</button>
                </form>

            </div>
        </div>
    </div>
</div>
<footer></footer>