<div class="ui two column doubling stackable grid">
    <div class="eleven wide column">
        <div class="ui raised segment">
            <h2 class="ui header">
                {{ ctrl.record.id != undefined ? 'recordEdit' : 'recordNew' | translate }}
                <div class="sub header">{{ ::ctrl.record.id != undefined ? ctrl.record.id : '' }}</div>
            </h2>

            <div ui-popup="{inline: true}"
                 data-content="{{ 'model' | translate }}" data-position="left center"
                 class="ui absolute floated right ribbon blue label">{{ ctrl.model.name | capitalize }}
            </div>

            <div ui-message ng-show="form.$submitted && form.$error.required && form.$error.required.length"
                 class="ui error message">
                <div class="header">
                    {{ 'checkBelowInconsistencies' | translate }}
                </div>
                <ul class="list">
                    <li ng-repeat="error in form.$error.required"
                        ng-bind-html="'fieldEmptyRequiredMessage' | translate:{name: error.$name}"></li>
                </ul>
            </div>

            <form ng-submit="form.$valid && ctrl.save($event);" name="form"
                  class="ui container stackable grid form margin top" novalidate>

                <div class="row middle aligned" ng-if="ctrl.record.id != undefined">
                    <div class="four wide column right aligned label">
                        <label>{{ 'id' | translate }}</label>
                    </div>

                    <div class="wide column field">
                        {{ ctrl.record.id }}
                    </div>
                </div>

                <div ng-controller="RecordFieldCtrl as fieldCtrl" ng-include="'isabase-app/' + field.type + '.tpl.html'"
                     ng-repeat="field in ctrl.model.fields" class="row middle aligned">
                </div>

                <div class="row">
                    <div class="twelve wide right floated column">
                        <button type="submit" class="ui labeled button icon" ng-class="{ green: form.$valid }">
                            <i class="save icon"></i>
                            {{ 'saveChanges' | translate }}
                        </button>
                        <a ng-click="ctrl.clear()" class="ui labeled button">
                            {{ 'clear' | translate }}
                        </a>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <div class="five wide column" ng-include="'isabase-app/record-edit.sidebar.tpl.html'"></div>
</div>