<div class="four wide column right aligned field label"
     ng-class="{required: field.required && data.length, error: form[field.name].$invalid && (form[field.name].$touched || form.$submitted)}">
    <label>{{ field.name | translate | capitalize }}</label>
</div>

<div class="wide column field"
     ng-class="{seven: small, ten: !small, error: form[field.name].$invalid && (form[field.name].$touched || form.$submitted)}"
     ng-switch="field.collection == true">

    <select name="{{ field.name }}" ng-switch-when="false" ui-dropdown ng-model="model[field.name]"
            ng-options="{{ 'record as record.$displayField.value for record in data track by record.id' }}"
            class="ui fluid dropdown" ng-required="field.required && data.length">

        <option value="">- {{ 'chooseSelect' | translate | capitalize }} {{ field.name | translate | capitalize }} -
        </option>
    </select>

    <select name="{{ field.name }}" ng-switch-when="true" multiple="" ui-dropdown ng-model="model[field.name]"
            ng-options="{{ 'record as record.$displayField.value for record in data track by record.id' }}"
            class="ui fluid dropdown" ng-required="field.required && data.length">

        <option value="">- {{ 'chooseSelect' | translate | capitalize }} {{ field.name | translate | capitalize }} -
        </option>
    </select>
</div>