/*******************************
            Button
*******************************/

a.button.ui.action, button.ui.action {
  margin-bottom: 10px;
  white-space: nowrap;
}

.ui.button + .ui.labeled.button:not(.icon) {
  padding: .73333333em 1.5em!important;
}

.button.absolute.top.right {
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 1002;
}

.ui.blue.button.active,
.ui.blue.buttons.active .button,
.ui.blue.button.active:hover,
.ui.blue.buttons.active .button:hover {
  background-color: #E0E1E2;
  color: rgba(0,0,0,.6);
  cursor: default;
}