/*******************************
            Button
*******************************/

a.button.ui.action, button.ui.action {
  margin-bottom: 10px;
  white-space: nowrap;
}

.ui.labeled.button.icon + .ui.labeled.button:not(.icon) {
  margin-left: 20px;
}