/*******************************
          Container
*******************************/

body {
  background: url('../images/bg.jpg');
  background-position-y: 100%;
  background-size: cover;
}

.ui.container.actions {
  padding-top: 10px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.view.container {
    position: relative;
    height: auto;
    min-height: 100%;
}

.container.content {
  padding-top: 40px;
  padding-bottom: 60px;
}