/*******************************
            Menu
*******************************/

.ui.menu:not(.vertical) .item {
  padding-left: 30px;
}

.ui.inverted.menu .header.item {
  margin-left: -30px;
  padding-left: 30px;
  padding-right: 30px;
}