/*******************************
            Menu
*******************************/

.ui.menu.topmenu .item {
  padding-left: 30px;
}

.ui.inverted.menu .header.item {
  margin-left: -30px;
  padding-left: 30px;
  padding-right: 30px;
}

.ui.menu .dropdown.item .menu {
  border-radius: 10px;
}

.ui.menu .ui.dropdown .menu>.item {
  padding: 15px 20px !important;
}

.ui.menu .ui.dropdown .menu>.item:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.ui.menu .ui.dropdown .menu>.item:last-child {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.ui.menu .dropdown.item .menu {
  box-shadow: rgba(34, 36, 38, 0.0980392) 0px 2px 4px 0px, rgba(34, 36, 38, 0.00784314) 0px 2px 10px 0px;
}