<div class="ui two column doubling stackable grid">
    <div class="sixteen wide column">
        <div class="ui raised segment" isa-loader="ctrl.models">
            <h2 class="ui header" isa-loader-visible>
                {{ 'modelsHeader' | translate }}
            </h2>

            <div class="ui three stackable cards" ng-if="ctrl.myapp">
                <div class="card limit height" ng-repeat="model in ctrl.models">
                    <div class="content">
                        <a ui-sref="admin.models.edit({ modelName: model.name })">
                            <i class="right floated setting icon"></i>
                        </a>
                        <div class="header">{{ model.name }}</div>
                        <div class="description">
                            <p>{{ model.description }}</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <a class="left floated" ui-sref="admin.records({ appName: ctrl.myapp.name, modelName: model.name })">
                            <i class="icon icon-book-open"></i>
                            {{ 'records' | translate }}
                        </a>
                    </div>
                </div>

                <div ui-sref="admin.models.edit({ modelName: 'new' })" class="card limit height">
                    <div class="content center">
                        <div class="description link">
                            <i class="add circle icon big"></i>
                            <p>{{ 'modelNew' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div ui-dropdown="{selectBy: 'name'}" ng-model="ctrl.myapp"
                 class="ui floating dropdown button absolute top right">
                <span class="text">{{ ctrl.myapp && ctrl.myapp.name || 'Selecione um Aplicativo' }}</span>
                <div class="menu">
                    <div class="item" ng-click="ctrl.selectApp(app)" ng-repeat="app in ctrl.apps">{{ app.name }}</div>
                </div>
            </div>

        </div>
    </div>
</div>