<div class="ui fixed inverted menu top topmenu">
    <div class="ui container">
        <a href="#" class="header item">
            <img class="logo" src="assets/images/logo.png">
        </a>
        <div class="item" ng-repeat="item in header.items">
            <a ui-sref-active="active" ui-sref="{{ item.stateName }}" class="ui primary button">{{ item.label | translate }}</a>
        </div>
        <div ui-dropdown="{action: 'hide'}" class="ui pointing dropdown link item top right">
            <span class="text">otaviodecampos</span>
            <i class="angle down icon"></i>
            <div class="menu">
                <a class="item" ui-sref="{{ item.stateName }}" ng-repeat="item in header.dropdownItems">{{ item.label | translate }}</a>
            </div>
        </div>
    </div>
</div>